body {
 color: white;
 background-color: black;
 }
h1 {
    color: green;
  }
  img{
    border-radius: 100px;
  }
  #my-yellow-paragraph {
    color: yellow;
}
.myDiv {
    border: 3px outset red;
    background-color: rgb(24, 46, 46);
    width: 50%;
} 



  